

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    line-height: 1.6;
  }

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(221, 247, 231);
    margin-bottom: 30px;
}

.history-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}


h1, h2 {
    color: #333;
}

button {
    background-color: #017143;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
